body {
  background-color: rgba(129, 6, 111, 0.347);

}


.container {
  background-color: rgb(30, 10, 24);
  margin-top: -420px;
  width: 1456px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 3px 0 rgb(248, 136, 244);

}

.logo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 186, 254);
  font-size: 40px;
  margin-left: -30px;

}

.carrito {
  width: 40px;
}

.mensaje {
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-weight: 510;
  color: rgb(255, 186, 254);
  margin-top: -90px;
  margin-left: 990px;

}

.links {
  text-decoration: none;
  color: rgb(255, 186, 254);
  margin-left: -300px;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}